@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@theme {
  --color-bg1: var(--bg1);
  --color-bg2: var(--bg2);
  --color-text: var(--text);
  --color-details: var(--details);
  --color-accent1: var(--accent1);
  --color-accent2: var(--accent2);

  --font-signika: "Signika", sans-serif;
  --font-rubik: "Rubik", sans-serif;
}

@layer components {
  .input {
    @apply bg-bg1 text-text rounded-[20px] py-2 px-4;
  }
  .logo-fil {
    filter: var(--logo-filter);
  }
}

:root {
  --bg1: #f7fdff;
  --bg2: #e9f8f1;
  --text: #374151;
  --details: #6fafa8;
  --accent1: #a3d2ca;
  --accent2: #f6caca;
  --logo-filter: brightness(0) saturate(100%) invert(100%) sepia(0%)
    saturate(7488%) hue-rotate(152deg) brightness(106%) contrast(103%);
}

.dark {
  --bg1: #0d1b1e;
  --bg2: #1c2b2f;
  --text: #e5e7eb;
  --details: #87d6ce;
  --accent1: #a8e6dd;
  --accent2: #f8bcbc;
  --logo-filter: brightness(0) saturate(100%) invert(24%) sepia(31%)
    saturate(393%) hue-rotate(178deg) brightness(92%) contrast(92%);
}
